* {
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

main {
    height: 100%;
}

.content {
    height: 90%;
    font-family: 'Avenir Next', Avenir, sans-serif;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 5rem;
    font-weight: 400;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 40rem;
    margin-top: 1rem;
    font-size: 1.7rem;
    font-weight: 500;
    flex-direction: row;
}

nav a {
    border-radius: 1rem;
    color: #fff;
    text-decoration: none;
}

nav a:hover {
   color: #ccc;
}

.backgroundImage {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

@media only screen and (max-width: 800px) {
    nav { 
        flex-direction: column;
        width: auto;
        height: 20rem;
    }
}
