// Layout
$side-padding: 1.25rem;
$expanded-nav-spacing: 1.5rem;
$menu-nav-spacing: 1.5rem;
$menu-icon-size: 2.1rem;
$header-padding: 1rem;
$header-line-height: 1.2;

// Fonts
$font: 'Nunito Sans', sans-serif;
$font-size: 1.45rem;
$header-font: 'Lato', sans-serif;
$header-font-size: 2.25rem;
$nav-font-size: 1.5rem;
$header-font-weight: 400;

// Colors
$light-blue: #b7cde9;
$light-gray: #c4c4c4;

$link-blue: #12468b;
$link-hover: #2680e7;
$link-dark-hover: #2680e7;

$nav-color: #000000;
$nav-hover: #2680e7;

// Computed
$menu-button-top: $header-padding + 0.5*$header-line-height*$header-font-size - 0.5*$menu-icon-size;
$menu-nav-top: 2*$header-padding + $header-line-height*$header-font-size;
